.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.experience-container > div {
  background: var(--bg-color-variant);
  padding: 2rem 3.8rem;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience-container > div:hover {
  background: transparent;
  border-color: var(--primary-color-variant);
  cursor: default;
}

.experience-container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
}

.experience-details {
  display: flex;
  gap: 1rem;
}
.experience-details-icon {
  margin-top: 6px;
  color: var(--primary-color);
}

/* ============ Media Query ============== */
/* Medium Devices (1024px) */
@media screen and (max-width: 64em) {
  .experience-container {
    grid-template-columns: 1fr;
  }
  .experience-container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}
/* Small Devices (600px) */
@media screen and (max-width: 37.5em) {
  .experience-container {
    gap: 1rem;
  }
  .experience-container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
